h1{
    color:blue;
    margin-left:30px
}
*{
    border:solid
}
.header{
    background-color:orange;
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
    color:red
}
body{
    background-color:#808080
}
.menu{
    margin-right:30px;
}
.menu a{
    margin-left:30px;
}
a:link{
    color:white;
}
a:visited{
    color:white
}
.item{
    position:relative
}
.item p{
    position:absolute;
    top:50%;
    bottom:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}
.item:hover p{
    opacity:1;
}
.item:hover img{
    opacity:0.33;
}